body{
    background: #313131; 
    color: #fff;
}  
input,textarea{
    background: #414141; 
    color: #fff; 
    font-size: 18px;
    font-family: Arial, sans-serif; 
    border: 1px solid white;
}   
input{
    width: 35%; 
   height: 2rem; 

} 
label{
    font-size: 18px;
}

.form-container{
    margin: 2% 20% 2% 20%; 
    border: 1px solid white;
}  
p{
    margin-left: 4rem; 
    color: #313131; 
} 
.form-container div{
    margin-left: 5rem; 
    color: rgba(246, 17, 17, 0.918); 
    display: none;
} 
label,input{
    margin-top: 1rem;
} 
#submitBtn, #resetBtn{ 
    width: 6rem; 
    height: 2.5rem; 
    color: white; 
    font-size: 16px;
   background: #313131; 
   border: 1px solid white; 
   border-radius: 10px; 
   margin-left: 2rem; 
   margin-bottom: 2rem;
}